<div class="container">
  <% if @error %>
  <p class="error"><%= @error %></p>
  <% end %>
  <% if authenticated? %>
    <% if has_game_in_session? %>
      <p>Want to finish your last game?</p>
      <a href="/play/<%= last_game_id %>">Finish game</a>
    <% end %>
    <p>Are you ready to play?</p>
    <form>
      <select name="cohort">
        <option value="<%= users_cohort.id %>"><%= users_cohort.name %></option>
        <% @cohorts.each do |cohort| %>
          <option value="<%= cohort.id %>"><%= cohort.name %></option>
        <% end %>
      </select>
    </form>
  <% else %>
    <p>Please log in to play!</p>
  <% end %>
  <% if @game %>
    <p>You've finished your game with a grand total score of <%= @game.score %>!</p>
  <% end %>
</div>
